<form class="create-trek" action="/edit/{{id}}" method="PUT">

    <div class="form-label-group">
        <input type="text" name="location" class="form-control" placeholder="Location" required="" autofocus=""
            value={{location}}>
        <label for="inputTrekName">Location</label>
    </div>

    <div class="form-label-group">
        <input type="text" value="" name="dateTime" class="form-control" placeholder="Date" required="" value="{{dateTime}}">
        <label for="inputTrekDate">Date</label>
    </div>

    <div class="form-label-group">
        <textarea type="text" name="description" class="form-control" placeholder="Description" required="">{{description}}</textarea>
        <label for="inputTrekDescription">Description</label>
    </div>

    <div class="form-label-group">
        <input type="text" value="" name="imageURL" class="form-control" placeholder="Image" required="" autofocus="" value="{{imageURL}}">
        <label for="inputTrekImage">Image</label>
    </div>
    <div style="display: none">
        <input name="organizer" value={{organizer}} />
        <input name="likes" value={{likes}} />
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Edit the trek</button>
</form>